#detail-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#details-container {
  display: flex;
  width: 80%;
  height: 70vh;
  position: relative;
}

#poster {
  width: 50%;
  height: 100%;
}

#poster img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#details {
  width: 50%;
  height: 100%;
  background-color: #F3CFC6;
  overflow: auto;
  border-style: solid
}

#details{
  font-size: 20px;
}

#details span{
  font-weight: bold;
  color: #F88379;
}

.description-word {
  font-weight: bold;
}

