#detail-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#details-container {
  display: flex;
  width: 80%;
  height: 80vh;
  position: relative;
}

#poster {
  width: 50%;
  height: 100%;
}

#poster img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#details {
  width: 50%;
  height: 100%;
}