#intro {
  position: fixed;
  background-color: bisque;
  background-size: cover;
  width: 100%;
  height: 105%;
  top: -4%;
  z-index: 400;
  /* content display */
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: opacity 2s;
}

#intro img {
  position: absolute;
  width: 100%;
  height: 100%;
}

#intro-title {
  position: relative;
  font-size: 6rem;
  cursor: pointer;
  animation: rainbow 6s linear 0s infinite;
}

@keyframes rainbow {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

/* -----------------------------------------------  for into video    ----------------------------------------------- */

#video-background {
  position: fixed;
  width: 100%;
  height: 105%;
  background-color: black;
  z-index: 0;
  transition: opacity 2s;
  opacity: 0;
}

#video-background img {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 2s;
}
