#menuBar {
    /* positioning */
    position: absolute;
    top: 10%;
    left: -150px;
    /* size */
    width: 150px;
    height: 80%;
    /* content display */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border */
    border: 3px;
    border-style: solid;
    border-color: blueviolet;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* animation */
    transition: left 1s;
}

#rightArrowDiv {
    /* positioning */
    position: relative;
    left: 56px;
    /* size */
    width: 50px;
    height: 150px;
    /* content display */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border */
    border: 3px;
    border-style: solid;
    border-color: blueviolet;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#rightArrow, #leftArrow {
    width: 50px;
    height: 50px;
}