.item {
  width: 45%;
  height: 45%;
  transition: transform 1s;
}

.item:hover {
  transform: scale(1.3);
}

.item-title {
  background-color: rgb(223, 218, 211);
  color: rgb(58, 58, 66);
  width: 95%;
  height: 15%;
  margin: 3px;
  padding: 2px;
  opacity: 0.9;
}

.item img {
  border: 5px;
  border-color: brown;
  border-style: solid;
  cursor: zoom-in;
  pointer-events: auto;
}
