/*-------------top 50 anime title -------------*/
#top-anime h1{
    font-size: 60px;
    letter-spacing: 7px;
}

/*-------------containers for all 50 anime/hover effect-------------*/
#top-anime ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style-type: none;
    gap: 20px 20px;
}

#top-anime li img{
    border-radius: 10px;
}
.anime-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    transition: transform 250ms;
}

.anime-container:hover{
    transform: scale(1.1);
}

.anime-container a{
    text-decoration: none;
    color: black;
}

.anime-container img{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 15px;
}

.anime-title{
    width: 284px;
    font-size: 24px;
    font-weight: bold;
}


